Host github.com
  Port 22
  User git
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes

Host 10.4.1*
Port 22
User admin
    Ciphers aes128-cbc,aes192-ctr,aes256-ctr,aes128-ctr,3des-cbc
    KexAlgorithms +diffie-hellman-group1-sha1
    PubkeyAcceptedAlgorithms +ssh-rsa
    HostkeyAlgorithms +ssh-rsa

Host h1.*
Port 22
User admin
    Ciphers aes128-cbc,aes192-ctr,aes256-ctr,aes128-ctr,3des-cbc
    KexAlgorithms +diffie-hellman-group1-sha1
    PubkeyAcceptedAlgorithms +ssh-rsa
    HostkeyAlgorithms +ssh-rsa

Host h30*
User userland
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    KexAlgorithms +diffie-hellman-group1-sha1
    Port 31415
    Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc

Host h66*
User userland
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    KexAlgorithms +diffie-hellman-group1-sha1
    Port 31415
    Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc

Host h10*
User userland
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    KexAlgorithms +diffie-hellman-group1-sha1
    Port 31415
    Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc

Host h101*
User userland
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    KexAlgorithms +diffie-hellman-group1-sha1
    Port 31415
    Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc
 

Host 10.4*
User userland
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    KexAlgorithms +diffie-hellman-group1-sha1
    Port 31415
    Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc

Host *
    StrictHostKeyChecking no
    Ciphers aes128-cbc,aes192-ctr,aes256-ctr,aes128-ctr,3des-cbc
    KexAlgorithms +diffie-hellman-group1-sha1
    PubkeyAcceptedAlgorithms +ssh-rsa
    HostkeyAlgorithms +ssh-rsa
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes
